<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Restaurants</a>
</nav>

<div id="container">
  <div id="title">
    <h2><%= @restaurant.name %></h2>

    <div class="link show_icon">
      <%= link_to edit_restaurant_path do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <%= link_to restaurant_path(@restaurant), method: :delete do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </div>

  <div id="restaurant">
    <div class="category"><%= @restaurant.category.capitalize %></div>
    <div class="address">address | <%= @restaurant.address %></div>
    <div class="phone_number">Phone | <%= @restaurant.phone_number %></div>
  </div>

  <div class="list-reviews">
    <h4>Reviews</h4>
    <% @restaurant.reviews.each do |review| %>
      <div class="review"><%= review.content %> <i class="fas fa-star"></i> <%= review.rating %></div>
    <% end %>
  </div>

  <ul class="link list-inline">
    <li><%= link_to 'Edit restaurant', edit_restaurant_path(@restaurant), class: "btn btn-light" %></li>
    <li><%= link_to 'Add review', new_restaurant_review_path(@restaurant), class: "btn btn-light" %></li>
    <li><%= link_to 'Home', restaurants_path, class: "btn btn-light" %></li>
  </ul>
</div>
