<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Restaurants</a>
</nav>

<div id="container">
  <h2>Add Review</h2>

  <%= simple_form_for ([@restaurant, @review]) do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit "Add my review", class: "btn btn-light" %>
  <% end %>

  <div class="link">
    <%= link_to 'Home', restaurants_path, class: "btn btn-light" %>
  </div>
</div>

